@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.advantage {
  &:before {
    content: unicode($advantage);
  }
}

.despair {
  &:before {
    content: unicode($despair);
  }
}

.failure {
  &:before {
    content: unicode($failure);
  }
}

.success {
  &:before {
    content: unicode($success);
  }
}

.threat {
  &:before {
    content: unicode($threat);
  }
}

.triumph {
  &:before {
    content: unicode($triumph);
  }
}

.d6 {
  &:before {
    content: unicode($d6);
  }
}

.d6-outline {
  &:before {
    content: unicode($d6-outline);
  }
}

.d8 {
  &:before {
    content: unicode($d8);
  }
}

.d8-outline {
  &:before {
    content: unicode($d8-outline);
  }
}

.d12 {
  &:before {
    content: unicode($d12);
  }
}

.d12-outline {
  &:before {
    content: unicode($d12-outline);
  }
}

.combat {
  &:before {
    content: unicode($combat);
  }
}

.social {
  &:before {
    content: unicode($social);
  }
}

.general {
  &:before {
    content: unicode($general);
  }
}